body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:
  url("/img/cloudy-blue-sky-beauytiful-scene-with-mountain.jpg");
  background-repeat: no-repeat;
 background-color: #f7b3cd;
 background-position: center center;
  background-size: cover;
}

.container {
  max-width: 1080px;
  margin: 20px auto;
}
@media screen {
  
}